{% extends 'nav.html' %}
{% load static %}
{% block title %}
    <title>Mulo Home</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mulo3.css' %}">
    <link rel="stylesheet" href="{% static 'adminReality/EventTemplateModal/EventTemplateModal.css' %}">
    <link rel="stylesheet" href="{% static 'adminReality/EventWhiteBoard/EventWhiteBoard.css' %}">
    <link rel="stylesheet" href="{% static 'adminReality/timebar/style.css' %}">
{% endblock %}
{% block content %}
    <section class="p-3 text-center">
        <div class="container">
            <div class="row g-4 justify-content-between">

                <!-- 左边框 -->
                <div class="col-lg-5">
                    {#                    <h5 class="fw-bold text-start pb-3">#}
                    {#                        <a href="/admin/main/" style="text-decoration:none;">#}
                    {#                            <img#}
                    {#                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-left.svg' %}"#}
                    {#                                    alt="Bootstrap"#}
                    {#                                    width="20" height="20" class="mb-1">#}
                    {#                        </a>#}
                    {#                        Basic Mode#}
                    {#                    </h5>#}

                    <div class="card bg-light mb-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Role
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formRole">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="role" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnRole" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in role_list %}
                                    <div class="col-lg-4 text-center">
                                        {{ obj.role }}
                                        <a href="/admin/reality/role/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="card bg-light" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="card-text text-start mt-2">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="fw-bold ms-4">
                                            Device Management
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-1">
                                        <a href="/admin/device/">
                                            <img
                                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-right.svg' %}"
                                                    alt="Bootstrap"
                                                    width="20" height="20" class="mt-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light my-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Odor
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formOdor">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="odor" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnOdor" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in odor_list %}
                                    <div class="col-lg-4">
                                        {{ obj.odor }}
                                        <a href="/admin/reality/odor/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            {#                            <div class="row g-2 mb-2 mt-2">#}
                            {#                                <div class="col-md-5 col-lg-5 ms-4">#}
                            {#                                    <ul class="list-group list-group-flush" style="list-style: none;">#}
                            {#                                        <li class="card-text text-start mt-2">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 1#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                        <li class="card-text text-start mt-3">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 3#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                    </ul>#}
                            {#                                </div>#}
                            {#                                <div class="col-lg-1"></div>#}
                            {#                                <div class="col-md-5 col-lg-5">#}
                            {#                                    <ul class="list-group list-group-flush me-2" style="list-style: none;">#}
                            {#                                        <li class="card-text text-start mt-2">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 2#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                        <li class="card-text text-start mt-3">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 4#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                    </ul>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>

                <!-- 右边框 Event White Board -->
                <div style="width: 55%">
                    <div class="row align-items-center">
                        <div class="col-lg-5 text-start">
                            <h4 class="fw-bold" style="margin-bottom: 0!important;">
                                Event White Board
                                <button type="button" class="btn" data-bs-toggle="popover"
                                        title=""
                                        data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                    <img
                                            src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                            alt="Bootstrap"
                                            width="14" height="14" class="mb-2">
                                </button>
                            </h4>
                        </div>
                        <!-- Create Template -->
                        <div class="col-lg-2 text-start">
                            <img id="btnAdd" type="button"
                                 src="{% static 'img/bootstrap-icons-1.10.3/plus-circle.svg' %}"
                                 alt="Bootstrap"
                                 width="30" height="30">
                        </div>
                        <div class="col-lg-5 text-end">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#complete"
                                    class="btn bg-light fw-bold ms-1"
                                    style="border-radius: 15px; border: 1px solid darkgray;">
                                Complete
                            </button>
                        </div>
                    </div>
                    <div id="event-tree" style="margin-top: 2rem">
                        {% for root in template_tree %}
                            {% include 'event_node.html' with node=root depth=0 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 新建 / 编辑 事件范式（对话框） -->
    <div class="modal fade" id="templateModal" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="templateLabel" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-header" style="flex-direction: column; align-items: flex-start">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; align-items: center">
                        <h4 class="ms-2 fw-bold modal-title" id="templateLabel">
                            Event Template
    {#                        <button type="button" class="btn" data-bs-toggle="popover"#}
    {#                                title=""#}
    {#                                data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">#}
    {#                            <img#}
    {#                                    src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"#}
    {#                                    alt="Bootstrap"#}
    {#                                    width="14" height="14" class="mb-2">#}
    {#                        </button>#}
                        </h4>
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="valid-controller" style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; align-items: center; margin-top: 1rem">
                        <h5 class="ms-2 fw-bold modal-title">
                            Valid While Event 2-2-1
                        </h5>
                        <div style="display: flex; flex-direction: row; align-items: center; font-weight: 800; font-size: 1.2rem">
                            <div class="yes" style="display: flex; flex-direction: row; align-items: center; margin-right: 2rem">
                                <input type="checkbox" class="checkbox bg-secondary-subtle" style="width: 1.2rem; height: 1.2rem;">
                                <span style="margin-left: .5rem">= yes</span>
                            </div>
                            <div class="no" style="display: flex; flex-direction: row; align-items: center; ">
                                <input type="checkbox" class="checkbox bg-secondary-subtle"  style="width: 1.2rem; height: 1.2rem">
                                <span style="margin-left: .5rem">= no</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="container">
                            <div class="row my-1 mb-2">
                                <div class="justify-content-between w-100 mb-2" style="display: flex; width: 100%">
                                    <div class="row align-items-center" style="width: 28%">
                                        <h7 class="fw-bold col-lg-12" id="eventNameLabel">
                                            Main Event Name
                                        </h7>
                                    </div>
                                    <div style="width: 75%" class="event-name-ipt">
                                        {{ form_template.event_name }}
                                        <span class="error-msg mt-2 ms-1"
                                              style="color: red; position: absolute;"></span>
                                    </div>

                                </div>
                                {#                                <div class="col-lg-6">#}
                                {#                                    <h7 class="ms-1 fw-bold">#}
                                {#                                        Input Device#}
                                {#                                    </h7>#}
                                {#                                    <div class="form-group mt-2" style="position: relative;">#}
                                {#                                        {{ form_template.input_device }}#}
                                {#                                        <span class="error-msg mt-2 ms-1"#}
                                {#                                              style="color: red; position: absolute;"></span>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                            <div style="display: flex;">
                                <div class="col-lg-3"
                                     style="display: flex; flex-direction: column; border-right: 2px solid #fff;">
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Input Description
                                        </h7>
                                        <div class="form-group mt-2 input-description" style="position: relative; width: 80%">
                                            {{ form_template.input_description }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Time Window(s)
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.time_window }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Threshold
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.threshold }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <h7 class="fw-bold">
                                            Output Device
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.output_device }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9" style="padding-left: 1rem;">
                                    <div style="display: flex; align-items: center">
                                        <h7 class="fw-bold" style="margin-right: .5rem">
                                            Odor Setting
                                        </h7>
                                        {# 添加按钮 #}
                                        <span class="odor-plus-icon circle-icon">+</span>
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        {# 竖排列表 #}
                                        <div class="odor-list"></div>
                                        {# 拖动条 #}
                                        <div class="odor-bar">
                                            <div class="total-time">
                                                <span class="title">total time: </span>
                                                <div class="form-group">
                                                    {{ form_template.total_time }}
                                                    <span class="error-msg"
                                                          style="color: red; position: absolute;"></span>
                                                </div>
                                            </div>
                                            <div class="time-scale">
                                            </div>
                                            {# 时间轴 #}
                                            <div id="timebar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-success me-2">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="complete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-body mt-2"><h5>You have successfully uploaded the code!</h5></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'adminReality/timebar/TimeBar.js' %}"></script>
    <script type="text/javascript">
    window.addEventListener('load', async () => {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var EDIT_ID;
        let PARENT_ID = undefined;

        const targetManager = new Bar({
            el: document.getElementById('timebar'),
            totalTimeInputEl: document.querySelector('.total-time .form-group>input'),
            timeScaleContainerEl: document.querySelector('.time-scale')
        });
        const itemManager = new ItemManager(document.querySelector('.odor-list'))
        await itemManager.setOdorsPosts();

        document.querySelector('.odor-plus-icon').addEventListener('click', () => {
            const color = Utils.randCSSRGB();
            const target = targetManager.add({ start: 0, color });
            itemManager.add({ color, target });
        });

        $(function () {
            bindBtnRoleEvent();
            bindBtnOdorEvent();
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnEditEvent();

            bindBtnCreateSub();
            bindBtnOpenSub();
            bindValidWhileParentCheckbox();
        })

        // 添加 role
        function bindBtnRoleEvent() {
            $('#btnRole').click(function () {
                $.ajax({
                    url: '/admin/reality/role/',
                    type: 'post',
                    data: $("#formRole").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        // 添加 odor
        function bindBtnOdorEvent() {
            $('#btnOdor').click(function () {
                $.ajax({
                    url: '/admin/reality/odor/',
                    type: 'post',
                    data: $("#formOdor").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        // 新建 event
        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                $('.valid-controller').hide();

                $(".error-msg").empty();
                // 将正在编辑的ID设置为空
                EDIT_ID = undefined;
                PARENT_ID = undefined;
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                // 设置对话框的标题
                $('#templateLabel').text('Create New Event Template')
                // 点击新建按钮，显示对话框
                $('#templateModal').modal('show');
                $('#templateModal').off('shown.bs.modal').on('shown.bs.modal', function () {
                    Utils.loadData(itemManager, targetManager);
                    const str = `Event_${$('#event-tree').children().length + 1}`;
                    $('.event-name-ipt>input').val(str);
                    $('.input-description>input').val(`this is ${str}`)
                })
            })
        }

        // 保存新建/编辑 event
        function bindBtnSaveEvent() {
            // 向后台发送请求
            $('#btnSave').click(function () {
                // 清楚错误信息
                $(".error-msg").empty();

                if (EDIT_ID) {
                    // 编辑
                    doEdit();
                } else {
                    // 添加
                    doAdd()
                }
            });
        }

        // 编辑 event
        function doEdit() {
            console.log(PARENT_ID)
            $.ajax({
                url: '/admin/reality/edit/' + '?tid=' + EDIT_ID,        //   -> /admin/reality/edit/?tid=12
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: async function (res) {
                    if (res.status) {
                        alert("Successlly Edited!");
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');

                        // 保存事件 odors
                        await fetch('/api/save_template_odors/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.cookie.split('; ').slice(-1)[0].split('csrftoken=')[1],
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tid: EDIT_ID,
                                odors: Utils.getData(itemManager, targetManager)
                            })
                        })

                        await fetch('/api/save_template_valid_while_parent/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.cookie.split('; ').slice(-1)[0].split('csrftoken=')[1],
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tid: EDIT_ID,
                                valid_while_parent: getValidWhileParent()
                            })
                        })

                        // 需要重新设置父事件
                        await fetch('/api/set_template_parent/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.cookie.split('; ').slice(-1)[0].split('csrftoken=')[1],
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tid: EDIT_ID,
                                pid: PARENT_ID
                            })
                        })

                        // 刷新页面
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }

        /**
         *
         * @param {Boolean | null} val
         */
        function setValidWhileParentCheckbox(val) {
            if (val === null) {
                $('.yes input').prop('checked', false);
                $('.no input').prop('checked', false);
            } else {
                if (val) {
                    $('.yes input').prop('checked', true);
                    $('.no input').prop('checked', false);
                } else {
                    $('.yes input').prop('checked', false);
                    $('.no input').prop('checked', true);
                }
            }
        }

        /**
         *
         * @returns {boolean | null}
         */
        function getValidWhileParent() {
            let valid_while_parent;
            if ($('.yes input').prop('checked')) {
                valid_while_parent = true;
            } else if ($('.no input').prop('checked')) {
                valid_while_parent = false;
            } else {
                valid_while_parent = null;
            }
            return valid_while_parent;
        }

        function bindValidWhileParentCheckbox() {
            $('.yes input').click(function() {
                $(this).prop('checked') && $('.no input').prop('checked', false);
            })
            $('.no input').click(function() {
                $(this).prop('checked') && $('.yes input').prop('checked', false);
            })
        }

        function doAdd() {
            // 向后台发送请求（添加Ajax请求）
            $.ajax({
                url: '/admin/reality/add/',
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: async function (res) {
                    if (res.status) {
                        {#alert("Successfully Created!");#}
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');
                        await fetch('/api/save_template_odors/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.cookie.split('; ').slice(-1)[0].split('csrftoken=')[1],
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tid: res.tid,
                                odors: Utils.getData(itemManager, targetManager)
                            })
                        })
                        PARENT_ID && await fetch('/api/set_template_parent/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.cookie.split('; ').slice(-1)[0].split('csrftoken=')[1],
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tid: res.tid,
                                pid: PARENT_ID
                            })
                        })
                        // 刷新页面
                        location.reload();
                    } else {
                        // 把错误信息显示在对话框中
                        $.each(res.error, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }

        function bindBtnCreateSub() {
            $('.create-sub').click(function () {
                $('.valid-controller').show();
                const path = $(this).parent().parent().parent().attr('path');
                $('.valid-controller h5').text(`Valid While Event ${path}`);

                $(".error-msg").empty();
                // 将正在编辑的ID设置为空
                EDIT_ID = undefined;
                PARENT_ID = $(this).attr("tid");
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                // 设置对话框的标题
                $('#templateLabel').text('Create Sub Event Template')
                $('#eventNameLabel').text('Sub Event Name');
                // 点击新建按钮，显示对话框
                $('#templateModal').modal('show');

                const currentCreatSubBtn = $(this);
                $('#templateModal').off('shown.bs.modal').on('shown.bs.modal', function () {
                    Utils.loadData(itemManager, targetManager);
                    const parent = currentCreatSubBtn.parent().parent().parent()
                    const parentPath = parent.attr('path');
                    console.log(parentPath)
                    const siblingCount = parent.children().last().children().last().children().length;
                    const str = `Event_${parentPath}-${siblingCount + 1}`;
                    $('.event-name-ipt>input').val(str);
                    $('.input-description>input').val(`this is ${str}`);
                })
            })
        }

        function bindBtnEditEvent() {
            $(".btn-edit").click(function () {
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                var tid = $(this).attr("tid");
                EDIT_ID = tid;
                PARENT_ID = $(this).parent().parent().parent().attr("pid");

                const path = $(this).parent().parent().parent().parent().parent().parent().attr('path');
                if (path) {
                    $('.valid-controller').show();
                    $('.valid-controller h5').text(`Valid While Event ${path}`);
                } else {
                    $('.valid-controller').hide();
                }

                // 发送Ajax请求，获取当前行的相关数据
                $.ajax({
                    url: "/admin/reality/detail/",
                    type: "get",
                    data: {
                        tid: tid
                    },
                    dataType: 'JSON',
                    success: async function (res) {
                        if (res.status) {
                            const { total_time } = res.data;

                            // 将数据赋值到对话框中的标签中
                            $.each(res.data, function (name, value) {
                                $('#id_' + name).val(value);
                            })

                            // 设置对话框的标题
                            $('#templateLabel').text('Edit Event Template')

                            // 点击编辑，显示对话框
                            $('#templateModal').modal('show');

                            $('#templateModal').off('shown.bs.modal').on('shown.bs.modal', async function () {
                                const res = await (await fetch(`/api/get_template_odors_by_tid?tid=${tid}`)).json()
                                if (res.status) {
                                    const data = {
                                        totalTime: total_time,
                                        data: []
                                    };
                                    res.data.forEach(({odor_id, port, start, duration, intensity}) => {
                                        data.data.push({
                                            odor_id: String(odor_id),
                                            port_id: String(port),
                                            start, duration, intensity
                                        })
                                    })
                                    {#{odor_id: string, port_id: string, duration: number, intensity: number, start: number}[]#}
                                    Utils.loadData(itemManager, targetManager, data);
                                }

                                const res2 = await (await fetch(`/api/get_valid_while_parent_by_tid?tid=${tid}`)).json()
                                if (res2.status) {
                                    const validWhileParent = res2.data;
                                    setValidWhileParentCheckbox(validWhileParent);
                                }
                            });
                        } else {
                            alert(res.error);
                        }
                    }
                });
            });
        }

        function bindBtnOpenSub() {
            $('.open-sub').click(async function () {
                $(this).parent().parent().siblings().toggle()
                const imgEl = $(this).children().first()[0];
                const src = imgEl.getAttribute('src');
                imgEl.setAttribute('src', (src === '/static/img/bootstrap-icons-1.10.3/arrow-up-square.svg') ? '/static/img/bootstrap-icons-1.10.3/arrow-down-square.svg' : '/static/img/bootstrap-icons-1.10.3/arrow-up-square.svg')
                setVerticalLines();
            })
        }

        $('#templateModal').on('hidden.bs.modal', () => {
            Utils.reset(itemManager, targetManager);
        });

        const setVerticalLines = () => {
            const fn = node => {
                const nodeContent = node.querySelector('.node-content'); // 1
                const nodesContainer = node.querySelector('.nodes-container'); // 2
                const nodesContainerWrapper = nodesContainer.querySelector('.nodes-container-wrapper');
                const subItems = nodesContainerWrapper.children;
                if (subItems.length === 0)
                    return;

                const lastSubItem = subItems[subItems.length - 1];
                const horizontalLine = lastSubItem.querySelector('.node-content>.horizontal-line');
                const vHeight = horizontalLine.getBoundingClientRect().top - nodeContent.getBoundingClientRect().bottom

                const verticalLine = nodesContainer.querySelector('.vertical-line');
                verticalLine.style.setProperty('height', `${vHeight + 2}px`);

                for (const item of subItems) {
                    fn(item);
                }
            }

            const roots = document.querySelectorAll('#event-tree>.whiteboard-item');
            for (let i = 0; i < roots.length; i++) {
                fn(roots.item(i));
            }
        }
        {#setInterval(() => setVerticalLines(), 100)#}
        setVerticalLines()
        // TODO: 当 odor 选中 -------- 时做错误处理
})
    </script>
{% endblock %}
