{% extends 'nav.html' %}
{% load static %}
{% block title %}
    <title>Mulo Home</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mulo3.css' %}">
    <link rel="stylesheet" href="{% static 'css/createNewEventTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'adminReality/timebar/style.css' %}">
{% endblock %}
{% block content %}
    <section class="p-3 text-center">
        <div class="container">
            <div class="row g-4">

                <!-- 左边框 -->
                <div class="col-lg-5">
                    {#                    <h5 class="fw-bold text-start pb-3">#}
                    {#                        <a href="/admin/main/" style="text-decoration:none;">#}
                    {#                            <img#}
                    {#                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-left.svg' %}"#}
                    {#                                    alt="Bootstrap"#}
                    {#                                    width="20" height="20" class="mb-1">#}
                    {#                        </a>#}
                    {#                        Basic Mode#}
                    {#                    </h5>#}

                    <div class="card bg-light mb-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Role
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formRole">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="role" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnRole" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in role_list %}
                                    <div class="col-lg-4 text-center">
                                        {{ obj.role }}
                                        <a href="/admin/reality/role/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="card bg-light" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="card-text text-start mt-2">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="fw-bold ms-4">
                                            Device Management
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-1">
                                        <a href="/admin/device/">
                                            <img
                                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-right.svg' %}"
                                                    alt="Bootstrap"
                                                    width="20" height="20" class="mt-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light my-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Odor
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formOdor">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="odor" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnOdor" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in odor_list %}
                                    <div class="col-lg-4">
                                        {{ obj.odor }}
                                        <a href="/admin/reality/odor/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            {#                            <div class="row g-2 mb-2 mt-2">#}
                            {#                                <div class="col-md-5 col-lg-5 ms-4">#}
                            {#                                    <ul class="list-group list-group-flush" style="list-style: none;">#}
                            {#                                        <li class="card-text text-start mt-2">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 1#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                        <li class="card-text text-start mt-3">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 3#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                    </ul>#}
                            {#                                </div>#}
                            {#                                <div class="col-lg-1"></div>#}
                            {#                                <div class="col-md-5 col-lg-5">#}
                            {#                                    <ul class="list-group list-group-flush me-2" style="list-style: none;">#}
                            {#                                        <li class="card-text text-start mt-2">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 2#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                        <li class="card-text text-start mt-3">#}
                            {#                                            <h7 class="ms-1 fw-bold">#}
                            {#                                                Odor 4#}
                            {#                                            </h7>#}
                            {#                                            <div class="form-group mt-2" style="position: relative;">#}
                            {#                                                {{ form_odor_selection.odor_selection }}#}
                            {#                                            </div>#}
                            {#                                        </li>#}
                            {#                                    </ul>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>


                <!-- 中间空白 -->
                <div class="col-lg-1"></div>

                <!-- 右边框 Event White Board -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-9 text-start">
                            <h4 class="ms-2 fw-bold">
                                Event White Board
                                <button type="button" class="btn" data-bs-toggle="popover"
                                        title=""
                                        data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                    <img
                                            src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                            alt="Bootstrap"
                                            width="14" height="14" class="mb-2">
                                </button>
                            </h4>
                        </div>
                        <div class="col-lg-3 text-end">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#complete"
                                    class="btn bg-light fw-bold ms-1"
                                    style="border-radius: 15px; border: 1px solid darkgray;">
                                Complete
                            </button>
                        </div>
                    </div>
                    {% for obj in template_list %}
                        <!-- Event Template -->
                        <div class="card bg-light my-4" style="border-radius: 0; border-left: 10px solid #66CC00;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <ul class="list-group list-group-flush ms-2" style="list-style: none;">
                                            <li class="card-text text-start mt-1">
                                                <h5 class="mt-2 fw-bold">
                                                    {{ obj.event_name }}
                                                </h5>
                                            </li>
                                            <li class="card-text text-start mt-3">
                                                <h6>
                                                    When {{ obj.threshold }} [{{ obj.input_description }}] trigger the
                                                    "{{ obj.event_name }}"
                                                    button within any {{ obj.time_window }} seconds,
                                                    {{ obj.output_device }} devices will play the {{ obj.port }} port
                                                    scent, the duration is {{ obj.duration }}s and the threshold
                                                    is {{ obj.threshold }}.
                                                </h6>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Edit / Delete -->
                                    <div class="col-lg-2">
                                        <h4 class="card-text">
                                            <img tid="{{ obj.id }}" type="button"
                                                 src="{% static 'img/bootstrap-icons-1.10.3/pencil-square.svg' %}"
                                                 alt="Bootstrap"
                                                 width="22" height="22" class="my-5 mx-2 btn-edit">
                                            <a href="/admin/reality/{{ obj.id }}/delete">
                                                <img src="{% static 'img/bootstrap-icons-1.10.3/trash.svg' %}"
                                                     alt="Bootstrap"
                                                     width="22" height="22" class="my-5">
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Create Template -->
                    <div class="text-start mt-3">
                        <img id="btnAdd" type="button"
                             src="{% static 'img/bootstrap-icons-1.10.3/plus-circle.svg' %}"
                             alt="Bootstrap"
                             width="30" height="30">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 新建 / 编辑 事件范式（对话框） -->
    <div class="modal fade" id="templateModal" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="templateLabel" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-header">
                    <h4 class="ms-2 fw-bold modal-title" id="templateLabel">
                        Event Template
                        <button type="button" class="btn" data-bs-toggle="popover"
                                title=""
                                data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                            <img
                                    src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                    alt="Bootstrap"
                                    width="14" height="14" class="mb-2">
                        </button>
                    </h4>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="container">
                            <div class="row my-1 mb-2">
                                <div class="justify-content-between w-100 mb-2" style="display: flex; width: 100%">
                                    <div class="row align-items-center" style="width: 28%">
                                        <h7 class="fw-bold col-lg-12">
                                            Main Event Name
                                        </h7>
                                    </div>
                                    <div style="width: 75%">
                                        {{ form_template.event_name }}
                                        <span class="error-msg mt-2 ms-1"
                                              style="color: red; position: absolute;"></span>
                                    </div>

                                </div>
                                {#                                <div class="col-lg-6">#}
                                {#                                    <h7 class="ms-1 fw-bold">#}
                                {#                                        Input Device#}
                                {#                                    </h7>#}
                                {#                                    <div class="form-group mt-2" style="position: relative;">#}
                                {#                                        {{ form_template.input_device }}#}
                                {#                                        <span class="error-msg mt-2 ms-1"#}
                                {#                                              style="color: red; position: absolute;"></span>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                            <div style="display: flex;">
                                <div class="col-lg-3"
                                     style="display: flex; flex-direction: column; border-right: 2px solid #fff;">
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Input Description
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.input_description }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Time Window(s)
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.time_window }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Threshold
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.threshold }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <h7 class="fw-bold">
                                            Output Device
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.output_device }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9" style="padding-left: 1rem;">
                                    <div style="display: flex; align-items: center">
                                        <h7 class="fw-bold" style="margin-right: .5rem">
                                            Odor Setting
                                        </h7>
                                        {# 添加按钮 #}
                                        <span class="odor-plus-icon circle-icon">+</span>
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        {# 竖排列表 #}
                                        <div class="odor-list"></div>
                                        {# 拖动条 #}
                                        <div class="odor-bar">
                                            <div class="total-time">
                                                <span class="title">total time: </span>
                                                <div class="form-group">
                                                    {{ form_template.total_time }}
                                                    <span class="error-msg"
                                                          style="color: red; position: absolute;"></span>
                                                </div>
                                            </div>
                                            <div class="time-scale">
                                            </div>
                                            {# 时间轴 #}
                                            <div id="timebar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-success me-2">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="complete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-body mt-2"><h5>You have successfully uploaded the code!</h5></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    window.addEventListener('load', async () => {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var EDIT_ID;

        $(function () {
            bindBtnRoleEvent();
            bindBtnOdorEvent();
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnEditEvent();
        })

        function bindBtnRoleEvent() {
            $('#btnRole').click(function () {
                $.ajax({
                    url: '/admin/reality/role/',
                    type: 'post',
                    data: $("#formRole").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindBtnOdorEvent() {
            $('#btnOdor').click(function () {
                $.ajax({
                    url: '/admin/reality/odor/',
                    type: 'post',
                    data: $("#formOdor").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                $(".error-msg").empty();
                // 将正在编辑的ID设置为空
                EDIT_ID = undefined;
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                // 设置对话框的标题
                $('#templateLabel').text('Create New Event Template')
                // 点击新建按钮，显示对话框
                $('#templateModal').modal('show');
            })
        }

        function bindBtnSaveEvent() {
            // 向后台发送请求
            $('#btnSave').click(function () {
                // 清楚错误信息
                $(".error-msg").empty();

                if (EDIT_ID) {
                    // 编辑
                    doEdit();
                } else {
                    // 添加
                    doAdd();
                }
            });
        }

        // TODO
        function doEdit() {
            // 向后台发送请求（添加Ajax请求）
            $.ajax({
                url: '/admin/reality/edit/' + '?tid=' + EDIT_ID,        //   -> /admin/reality/edit/?tid=12
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        alert("Successlly Edited!");
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');
                        // 刷新页面
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }

        // TODO
        function doAdd() {
            // 向后台发送请求（添加Ajax请求）
            $.ajax({
                url: '/admin/reality/add/',
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        {#alert("Successfully Created!");#}
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');
                        // 刷新页面
                        location.reload();
                    } else {
                        // 把错误信息显示在对话框中
                        $.each(res.error, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }


        function bindBtnEditEvent() {
            $(".btn-edit").click(function () {
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                var tid = $(this).attr("tid");
                EDIT_ID = tid;

                // 发送Ajax请求，获取当前行的相关数据
                $.ajax({
                    url: "/admin/reality/detail/",
                    type: "get",
                    data: {
                        tid: tid
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            // 将数据赋值到对话框中的标签中
                            $.each(res.data, function (name, value) {
                                $('#id_' + name).val(value);
                            })

                            // 设置对话框的标题
                            $('#templateLabel').text('Edit Event Template')

                            // 点击编辑，显示对话框
                            $('#templateModal').modal('show');
                        } else {
                            alert(res.error);
                        }
                    }
                });
            });
        }

        /**
     * 主容器为 <div id="timebar"></div>
     */
    class Utils {
        static clamp(start, end) {
            return function (val) {
                if (val < start) return start;
                if (val > end) return end;
                return val;
            }
        }
        static randRange(start, end) {
            return (end - start) * Math.random() + start;
        }
        static randCSSRGB() {
            return `rgb(${this.randRange(50, 200)},${this.randRange(50, 200)},${this.randRange(50, 200)})`
        }
        static str2html(str) {
            const container = document.createElement('div');
            container.innerHTML = str;
            return container.children;
        }
        static getID() {
            return Date.now().toString();
        }
        static getData(itemManager, targetManager) {
            const data = [];
            const itemData = itemManager.getData();
            const targetData = targetManager.getData();
            itemData.forEach((item, i) => {
                data.push({
                    ...item,
                    ...targetData[i]
                });
            });
            return data;
        }
        {#/**#}
        {# * 当为编辑页是需要调用#}
        {# * @param {{odor_id: string, port_id: string, duration: number, intensity: number, start: number}[]} data #}
        {# * @param {ItemManager} itemManager#}
        {# * @param {Bar} targetManager #}
        {# */#}
        static loadData(data, itemManager, targetManager) {
            data.forEach(({ odor_id, port_id, duration, intensity, start }) => {
                const color = Utils.randCSSRGB();
                const target = targetManager.add({ start: start, color, range: duration });
                itemManager.add({ color, target, odor_id, port_id, duration, intensity });
            });
        }
    }

    class Target {
        flag = false;
        currentX = 0;
        /**
         * @type Item
         */
        item;

        /**
         * 方便在类外使用
         * @param v time
         */
        setStart(v) {
            this.start = v;
            const px = this.bar.time2px(v);
            this.updatePos(px);
        }

        /**
         *
         * @param v px
         */
        _setStart(v) {
            const time = this.bar.px2time(v);
            this.start = time;
            this.updatePos(v);
        }


        range; // time
        get end() {
            return this.start + this.range;
        }

        get width() {
            return this.bar.time2px(this.range);
        }

        /**
         *
         * @param val px
         */
        updatePos(val) {
            this.element.style.setProperty('left', `${val}px`);
        }

        /**
         * 类外使用
         * @param val time
         */
        setRange(val) {
            this.range = val
            const px = this.bar.time2px(this.range);
            this.element.style.setProperty('width', `${px}px`);
            this.updateScale();
        }

        /**
         * 类内使用
         * @param val px
         */
        _setWidth(val) {
            this.element.style.setProperty('width', `${val}px`);
        }

        /**
         * 仅 bar 更新总时长时需要调用
         */
        update() {
            this._setWidth(this.bar.time2px(this.range));
            this.updatePos(this.bar.time2px(this.start));
        }

        /**
         * 更新当前滑块的首尾刻度
         */
        updateScale() {
            const [start, end] = this.scale.children;
            start.innerHTML = this.start.toFixed(2).toString();
            end.innerHTML = this.end.toFixed(2).toString();
        }

        setItem(item) {
            this.item = item;
        }

        constructor({ bar, start, range, color }) {
            this.id = Utils.getID();

            this.element = document.createElement('div');
            this.hEl = document.createElement('div');
            this.bEl = document.createElement('div');
            this.tEl = document.createElement('div');
            this.hEl.innerHTML = `<div class="tri" style="border-bottom-color: ${color}"></div>`;
            this.tEl.innerHTML = `<div class="tri" style="border-bottom-color: ${color}"></div>`;
            this.element.classList.add('target');
            this.hEl.classList.add('head');
            this.bEl.classList.add('body');
            this.tEl.classList.add('tail');

            this.scale = document.createElement('div');
            this.scale.classList.add('target-scale');
            this.scale.innerHTML = `
                <div></div>
                <div></div>
            `
            this.element.append(this.hEl, this.bEl, this.tEl, this.scale);
            bar.element.appendChild(this.element);

            this.bEl.style.setProperty('background-color', color);
            this.bEl.style.setProperty('opacity', '0.5');
            this.hEl.style.setProperty('background-color', color);
            this.tEl.style.setProperty('background-color', color);

            this.bar = bar;
            this.start = start;
            this.range = range;

            this.update();
            this.updateScale();

            this.initEvent();
        }

        onMousedown = e => {
            this.flag = true;
            this.currentX = e.pageX;
            this.bar.putFirst(this);
            this.item.itemManager.putFirst(this.item);
        }
        onMouseup = () => {
            this.flag = false;
            document.body.style.setProperty('cursor', 'default');
        }
        onMousemove = e => {
            e.preventDefault();
            if (this.flag) {
                document.body.style.setProperty('cursor', 'ew-resize');
                const px = Utils.clamp(0, this.bar.width - this.width)(this.element.offsetLeft + e.pageX - this.currentX);
                this._setStart(px);
                this.currentX = e.pageX;
                this.updateScale();
            }
        }

        initEvent() {
            this.bEl.addEventListener('mousedown', this.onMousedown);
            document.body.addEventListener('mouseup', this.onMouseup);
            document.body.addEventListener('mousemove', this.onMousemove);
        }

        onDel() {
            this.bEl.removeEventListener('mousedown', this.onMousedown);
            this.bar.element.removeChild(this.element);
            document.body.removeEventListener('mouseup', this.onMouseup);
            document.body.removeEventListener('mousemove', this.onMousemove);
        }

        first() {
            this.element.classList.add('active');
        }

        other() {
            this.element.classList.remove('active');
        }

        getData() {
            return {
                start: this.start
            }
        }
    }

    // Odor Setting 下的单元
    class Item {

        constructor(itemManager, target, { odor_id, port_id, duration, intensity, color }) {
            this.itemManager = itemManager;
            this.odor_id = odor_id;
            this.port_id = port_id;
            this.duration = duration;
            this.intensity = intensity;
            this.element = this.getPropertyItemEl({ odor_id, port_id, duration, intensity, color });
            this.target = target; // 一个 Item 对应一个 Target
            this.id = Utils.getID();
        }

        getPropertyItemEl({ odor_id, port_id, duration, intensity, color }) {
            const { itemElTemplate, odors, ports } = this.itemManager;
            const el = itemElTemplate.cloneNode(true);
            const odorItemOdor = el.querySelector('.odor-item-odor');
            const odorItemPort = el.querySelector('.odor-item-port');
            const odorItemDuration = el.querySelector('.odor-item-duration');
            const odorItemIntensity = el.querySelector('.odor-item-intensity');
            const odorItemColor = el.querySelector('.odor-item-color');

            odors.forEach(({ id, odor }) => {
                odorItemOdor.innerHTML += `<option value="${id}" ${odor_id == id && 'selected'}>${odor}</option>`
            })
            ports.forEach(({ id, port }) => {
                odorItemPort.innerHTML += `<option value="${id}" ${port_id == id && 'selected'}>${port}</option>`
            })
            odorItemDuration.value = duration;
            odorItemIntensity.value = intensity;

            const minusBtn = el.querySelector('.odor-minus-icon');

            odorItemDuration.addEventListener('change', () => {
                let temp = Number(odorItemDuration.value);
                if (temp < 0) {
                    temp = 0;
                    odorItemDuration.value = temp;
                } else if (temp > this.target.bar.totalTime - this.target.start) {
                    temp = this.target.bar.totalTime - this.target.start;
                    odorItemDuration.value = temp
                }
                this.target.setRange(temp);
                this.duration = temp;
            })
            minusBtn.addEventListener('click', () => {
                this.target.bar.remove(this.target);
                this.itemManager.remove(this);
            });

            odorItemColor.style.setProperty('background-color', color);
            odorItemColor.addEventListener('click', () => {
                this.target.bar.putFirst(this.target);
                this.itemManager.putFirst(this);
            });
            el.addEventListener('dblclick', () => {
                this.target.bar.putFirst(this.target);
                this.itemManager.putFirst(this);
            });

            odorItemOdor.addEventListener('change', () => {
                this.odor_id = odorItemOdor.value;
            });

            odorItemPort.addEventListener('change', () => {
                this.port_id = odorItemPort.value;
            });

            odorItemIntensity.addEventListener('change', () => {
                this.intensity = odorItemIntensity.value;
            });

            return el;
        }

        /**
         * 外部删除需要调用父的 remove 而不是该函数
         */
        onDel() {
            // TODO: 事件清理
            this.itemManager.element.removeChild(this.element);
        }

        first() {
            this.element.classList.add('active');
        }

        other() {
            this.element.classList.remove('active');
        }


        getData() {
            return {
                odor_id: this.odor_id,
                port_id: this.port_id,
                duration: this.duration,
                intensity: this.intensity
            }
        }
    }

    class ItemManager {
        itemElStr = `
        <div class="odor-item">
            <div class="odor-item-color"></div>
            <div class="odor-item-item">
                <span class="fw-bold title">
                    Odor
                </span>
                <div class="form-group">
                    <select class="form-control bg-secondary-subtle odor-item-odor" style="border-radius: 15px;">
                        <option value="-1" selected>---------</option>
                    </select>
                </div>
            </div>
            <div class="odor-item-item">
                <span class="fw-bold title">
                    Odor Port
                </span>
                <div class="form-group">
                    <select class="form-control bg-secondary-subtle odor-item-port" style="border-radius: 15px;">
                        TODO
                    </select>
                </div>
            </div>
            <div class="odor-item-item">
                <span class="fw-bold title">
                    Duration(s)
                </span>
                <div class="form-group">
                    <input type="number" value="1" class="form-control bg-secondary-subtle odor-item-duration" style="border-radius: 15px;">
                </div>
            </div>
            <div class="odor-item-item">
                <span class="fw-bold title">
                    Intensity(%)
                </span>
                <div class="form-group">
                    <input type="number" value="1" class="form-control bg-secondary-subtle odor-item-intensity" style="border-radius: 15px;">
                </div>
            </div>
            <span class="odor-minus-icon circle-icon">-</span>
        </div>
    `

        static itemDefaultProperty = {
            odor_id: '-1',
            port_id: '1',
            duration: 3,
            intensity: 100
        };

        constructor(itemListEl, { odors, ports }) {
            this.odors = odors;
            this.ports = ports;
            this.element = itemListEl;
            this.itemElTemplate = Utils.str2html(this.itemElStr)[0];
            this.items = [];
        }

        add({
            odor_id = ItemManager.itemDefaultProperty.odor_id,
            port_id = ItemManager.itemDefaultProperty.port_id,
            duration = ItemManager.itemDefaultProperty.duration,
            intensity = ItemManager.itemDefaultProperty.intensity,
            color,
            target
        }) {
            const item = new Item(this, target, { odor_id, port_id, duration, intensity, color })
            this.element.append(item.element);
            this.items.push(item);
            target.setItem(item);
        }

        remove(item) {
            item.onDel();
            this.items = this.items.filter(e => e.id !== item.id);
        }

        /**
         * 聚焦某个item
         * @param arg string | Item
         */
        putFirst(arg) {
            if (typeof arg === 'string') {
                this.items.forEach(e => {
                    e.id == arg ? e.first() : e.other();
                });
            } else {
                this.items.forEach(e => {
                    e.other();
                })
                arg.first();
            }
        }

        getData() {
            const data = [];
            this.items.forEach(item => {
                data.push(item.getData());
            });
            return data;
        }
    }

    class Bar {
        tt;

        get width() {
            return this.element.clientWidth;
        }



        get time_per_px() {
            return this.width / this.totalTime;
        }


        set time_per_px(v) {
            this.time_per_px = v;
        }


        set totalTime(v) {
            this.tt = v;
            this.targets.forEach(t => {
                t.update();
            })
            this.timeScaleContainerEl.innerHTML = ''
            for (let i = 0; i <= v; i++) {
                this.timeScaleContainerEl.innerHTML += `<div>${i}</div>`
            }
        }

        get totalTime() {
            return this.tt;
        }


        constructor({ el, totalTime = 10, totalTimeInputEl, timeScaleContainerEl }) {
            this.targets = [];
            this.element = el;
            this.totalTimeInputEl = totalTimeInputEl;
            this.timeScaleContainerEl = timeScaleContainerEl;
            this.totalTime = totalTime;

            this.onTotalTimeInputChange();
            this.totalTimeInputEl.addEventListener('change', this.onTotalTimeInputChange);
        }

        onTotalTimeInputChange = () => {
            const temp = Number(this.totalTimeInputEl.value);
            for (const target of this.targets) {
                if (target.end > temp) {
                    this.totalTimeInputEl.value = this.totalTime;
                    return;
                }
            }
            this.totalTime = Number(this.totalTimeInputEl.value);
        }

        add({ start = 0, range = ItemManager.itemDefaultProperty.duration, color }) {
            const t = new Target({ bar: this, start, range, color });
            this.targets.push(t);
            return t;
        }

        time2px(timeVal) {
            return this.time_per_px * timeVal;
        }
        px2time(pxVal) {
            return pxVal / this.time_per_px;
        }

        /**
         * 聚焦某个滑块
         * @param arg string | Target
         */
        putFirst(arg) {
            if (typeof arg === 'string') {
                this.targets.forEach(e => {
                    e.id == arg ? e.first() : e.other();
                });
            } else {
                this.targets.forEach(e => {
                    e.other();
                })
                arg.first();
            }
        }

        /**
         *
         * @param arg Target
         */
        remove(arg) {
            // if (typeof arg === 'string') {
            //     for (let i = 0; i < this.targets.length; i++) {
            //         if (this.targets[i].id == arg) {
            //             arg = this.targets[i];
            //             break;
            //         }
            //     }
            // }
            const _target = arg;
            _target.onDel();
            this.targets = this.targets.filter(t => t.id !== _target.id);
        }

        getData() {
            const data = [];
            this.targets.forEach(item => {
                data.push(item.getData());
            });
            return data;
        }
    }

    /* 初始固定数据 */
    const odors = ((await (await fetch('/api/get_odor_list/')).json()).data);
    const port_choices = [
        { id: 1, port: 'Port 1' },
        { id: 2, port: 'Port 2' },
        { id: 3, port: 'Port 3' },
        { id: 4, port: 'Port 4' },
    ]
    /* 初始固定数据 */


    // 初始化
    const targetManager = new Bar({
        el: document.getElementById('timebar'),
        totalTimeInputEl: document.querySelector('.total-time .form-group>input'),
        timeScaleContainerEl: document.querySelector('.time-scale')
    });
    const itemManager = new ItemManager(
        document.querySelector('.odor-list'),
        { odors: odors, ports: port_choices }
    )

    // 编辑时，需要请求相关的数据
    // const data = [
    //     {
    //         "odor_id": "-1",
    //         "port_id": "1",
    //         "duration": 2,
    //         "intensity": 100,
    //         "start": 2.6802218114602585
    //     },
    //     {
    //         "odor_id": "-1",
    //         "port_id": "1",
    //         "duration": 5,
    //         "intensity": 100,
    //         "start": 5
    //     }
    // ]

    // Utils.loadData(data, itemManager, targetManager);

    document.querySelector('.odor-plus-icon').addEventListener('click', () => {
        const color = Utils.randCSSRGB();
        const target = targetManager.add({ start: 0, color });
        itemManager.add({ color, target });
    });

    document.body.addEventListener('keydown', e => {
        if (e.key === 'a') {
            const data = Utils.getData(itemManager, targetManager);
            console.log(data);
        }
    });

    document.getElementById('btnSave').addEventListener('click', () => {
        console.log(666)
    })
})
    </script>
{#    <script type="text/javascript" src="{% static 'adminReality/timebar/TimeBar.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'adminReality/main.js' %}"></script>
{% endblock %}
