{% extends 'nav.html' %}
{% load static %}
{% block title %}
    <title>Mulo Home</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mulo3.css' %}">
    <link rel="stylesheet" href="{% static 'css/createNewEventTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'timebar/style.css' %}">
{% endblock %}
{% block content %}
    <section class="p-3 text-center">
        <div class="container">
            <div class="row g-4">

                <!-- 左边框 -->
                <div class="col-lg-5">
                    {#                    <h5 class="fw-bold text-start pb-3">#}
                    {#                        <a href="/admin/main/" style="text-decoration:none;">#}
                    {#                            <img#}
                    {#                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-left.svg' %}"#}
                    {#                                    alt="Bootstrap"#}
                    {#                                    width="20" height="20" class="mb-1">#}
                    {#                        </a>#}
                    {#                        Basic Mode#}
                    {#                    </h5>#}

                    <div class="card bg-light mb-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Role
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formRole">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="role" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnRole" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in role_list %}
                                    <div class="col-lg-4 text-center">
                                        {{ obj.role }}
                                        <a href="/admin/reality/role/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="card bg-light" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="card-text text-start mt-2">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="fw-bold ms-4">
                                            Device Management
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-1">
                                        <a href="/admin/device/">
                                            <img
                                                    src="{% static 'img/bootstrap-icons-1.10.3/chevron-right.svg' %}"
                                                    alt="Bootstrap"
                                                    width="20" height="20" class="mt-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light my-4" style="border-radius: 20px;">
                        <div class="card-body">
                            <div class="row my-2 mb-3">
                                <div class="col-md-4 col-lg-4">
                                    <div class="card-text text-start">
                                        <h5 class="ms-4 fw-bold">
                                            Odor
                                            <button type="button" class="btn" data-bs-toggle="popover"
                                                    title=""
                                                    data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                                <img
                                                        src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                                        alt="Bootstrap"
                                                        width="14" height="14" class="mb-2">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <form id="formOdor">
                                        <div class="row g-4 ms-1">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="input-group ms-2" style="position: relative;">
                                                    <input name="odor" type="text" class="form-control"
                                                           placeholder="" style="height: 40px;">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div id="btnOdor" type="button" class="btn btn-secondary">
                                                    <img src="{% static 'img/bootstrap-icons-1.10.3/plus-circle-dotted.svg' %}"
                                                         alt="Bootstrap"
                                                         width="20" height="20" class="mb-1">
                                                    Confirm
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row g-2">
                                {% for obj in odor_list %}
                                    <div class="col-lg-4">
                                        {{ obj.odor }}
                                        <a href="/admin/reality/odor/{{ obj.id }}/delete">
                                            <img src="{% static 'img/bootstrap-icons-1.10.3/person-x.svg' %}"
                                                 alt="Bootstrap"
                                                 width="20" height="20" class="me-2 mb-1">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
{#                            <div class="row g-2 mb-2 mt-2">#}
{#                                <div class="col-md-5 col-lg-5 ms-4">#}
{#                                    <ul class="list-group list-group-flush" style="list-style: none;">#}
{#                                        <li class="card-text text-start mt-2">#}
{#                                            <h7 class="ms-1 fw-bold">#}
{#                                                Odor 1#}
{#                                            </h7>#}
{#                                            <div class="form-group mt-2" style="position: relative;">#}
{#                                                {{ form_odor_selection.odor_selection }}#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="card-text text-start mt-3">#}
{#                                            <h7 class="ms-1 fw-bold">#}
{#                                                Odor 3#}
{#                                            </h7>#}
{#                                            <div class="form-group mt-2" style="position: relative;">#}
{#                                                {{ form_odor_selection.odor_selection }}#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="col-lg-1"></div>#}
{#                                <div class="col-md-5 col-lg-5">#}
{#                                    <ul class="list-group list-group-flush me-2" style="list-style: none;">#}
{#                                        <li class="card-text text-start mt-2">#}
{#                                            <h7 class="ms-1 fw-bold">#}
{#                                                Odor 2#}
{#                                            </h7>#}
{#                                            <div class="form-group mt-2" style="position: relative;">#}
{#                                                {{ form_odor_selection.odor_selection }}#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="card-text text-start mt-3">#}
{#                                            <h7 class="ms-1 fw-bold">#}
{#                                                Odor 4#}
{#                                            </h7>#}
{#                                            <div class="form-group mt-2" style="position: relative;">#}
{#                                                {{ form_odor_selection.odor_selection }}#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>


                <!-- 中间空白 -->
                <div class="col-lg-1"></div>

                <!-- 右边框 Event White Board -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-9 text-start">
                            <h4 class="ms-2 fw-bold">
                                Event White Board
                                <button type="button" class="btn" data-bs-toggle="popover"
                                        title=""
                                        data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                                    <img
                                            src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                            alt="Bootstrap"
                                            width="14" height="14" class="mb-2">
                                </button>
                            </h4>
                        </div>
                        <div class="col-lg-3 text-end">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#complete"
                                    class="btn bg-light fw-bold ms-1"
                                    style="border-radius: 15px; border: 1px solid darkgray;">
                                Complete
                            </button>
                        </div>
                    </div>
                    {% for obj in template_list %}
                        <!-- Event Template -->
                        <div class="card bg-light my-4" style="border-radius: 0; border-left: 10px solid #66CC00;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <ul class="list-group list-group-flush ms-2" style="list-style: none;">
                                            <li class="card-text text-start mt-1">
                                                <h5 class="mt-2 fw-bold">
                                                    {{ obj.event_name }}
                                                </h5>
                                            </li>
                                            <li class="card-text text-start mt-3">
                                                <h6>
                                                    When {{ obj.role_num }} {{ obj.input_device }} trigger the
                                                    "{{ obj.event_name }}"
                                                    button within any {{ obj.time_window }} seconds,
                                                    {{ obj.output_device }} devices will play the {{ obj.port }} port
                                                    scent, the duration is {{ obj.duration }}s and the pwm
                                                    is {{ obj.pwm }}.
                                                </h6>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Edit / Delete -->
                                    <div class="col-lg-2">
                                        <h4 class="card-text">
                                            <img tid="{{ obj.id }}" type="button"
                                                 src="{% static 'img/bootstrap-icons-1.10.3/pencil-square.svg' %}"
                                                 alt="Bootstrap"
                                                 width="22" height="22" class="my-5 mx-2 btn-edit">
                                            <a href="/admin/reality/{{ obj.id }}/delete">
                                                <img src="{% static 'img/bootstrap-icons-1.10.3/trash.svg' %}"
                                                     alt="Bootstrap"
                                                     width="22" height="22" class="my-5">
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Create Template -->
                    <div class="text-start mt-3">
                        <img id="btnAdd" type="button"
                             src="{% static 'img/bootstrap-icons-1.10.3/plus-circle.svg' %}"
                             alt="Bootstrap"
                             width="30" height="30">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 新建 / 编辑 事件范式（对话框） -->
    <div class="modal {% comment %}fade{% endcomment %}" id="templateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="templateLabel" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-header">
                    <h4 class="ms-2 fw-bold modal-title" id="templateLabel">
                        Event Template
                        <button type="button" class="btn" data-bs-toggle="popover"
                                title=""
                                data-bs-content="Click the Bluetooth button on the mulO device and find your device name on your computer. If the lights are always on means the link is successful. If the light blink means wait to link.">
                            <img
                                    src="{% static 'img/bootstrap-icons-1.10.3/question-circle-fill.svg' %}"
                                    alt="Bootstrap"
                                    width="14" height="14" class="mb-2">
                        </button>
                    </h4>
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="container">
                            <div class="row my-1 mb-2">
                                <div class="justify-content-between w-100 mb-2" style="display: flex; width: 100%">
                                    <div class="row align-items-center" style="width: 28%">
                                        <h7 class="fw-bold col-lg-12">
                                            Main Event Name
                                        </h7>
                                    </div>
                                    <div style="width: 75%">
                                        {{ form_template.event_name }}
                                        <span class="error-msg mt-2 ms-1"
                                              style="color: red; position: absolute;"></span>
                                    </div>

                                </div>
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Input Device#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2" style="position: relative;">#}
{#                                        {{ form_template.input_device }}#}
{#                                        <span class="error-msg mt-2 ms-1"#}
{#                                              style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                            <div style="display: flex;">
                                <div class="col-lg-3" style="display: flex; flex-direction: column; border-right: 2px solid #fff;">
{#                                    <div class="mb-3">#}
{#                                        <h7 class="fw-bold">#}
{#                                            Event Number#}
{#                                        </h7>#}
{#                                        <div class="form-group mt-2" style="position: relative;">#}
{#                                            {{ form_template.role_num }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                        <div class="form-group mt-2" style="position: relative; width: 80%">#}
{#                                            {{ form_template.input_device }}#}
{#                                            <span class="error-msg mt-2 ms-1"#}
{#                                                  style="color: red; position: absolute;"></span>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Input Device
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.input_device }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Time Window(s)
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.time_window }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h7 class="fw-bold">
                                            Threshold
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.role_num }}
                                            <span class="error-msg" style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <h7 class="fw-bold">
                                            Output Device
                                        </h7>
                                        <div class="form-group mt-2" style="position: relative; width: 80%">
                                            {{ form_template.output_device }}
                                            <span class="error-msg mt-2 ms-1"
                                                  style="color: red; position: absolute;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9" style="padding-left: 2rem;">
                                    <div style="display: flex; align-items: center">
                                        <h7 class="fw-bold" style="margin-right: .5rem">
                                            Odor Setting
                                        </h7>
                                        {# 添加按钮 #}
                                        <span class="odor-plus-icon circle-icon">+</span>
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        {# 竖排列表 #}
                                        <div class="odor-list">
                                            <div class="odor-item">
                                                <div class="odor-item-color"></div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.odor }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor Port
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.port }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Duration(s)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.duration }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Intensity(%)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.intensity }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <span class="odor-minus-icon circle-icon">-</span>
                                            </div>
                                            <div class="odor-item">
                                                <div class="odor-item-color"></div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.odor }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor Port
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.port }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Duration(s)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.duration }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Intensity(%)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.intensity }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <span class="odor-minus-icon circle-icon">-</span>
                                            </div>
                                            <div class="odor-item">
                                                <div class="odor-item-color"></div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.odor }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor Port
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.port }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Duration(s)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.duration }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Intensity(%)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.intensity }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <span class="odor-minus-icon circle-icon">-</span>
                                            </div>
                                            <div class="odor-item">
                                                <div class="odor-item-color"></div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.odor }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Odor Port
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.port }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Duration(s)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.duration }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <div class="odor-item-item">
                                                    <span class="fw-bold title">
                                                        Intensity(%)
                                                    </span>
                                                    <div class="form-group">
                                                        {{ form_event_odor.intensity }}
                                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                                    </div>
                                                </div>
                                                <span class="odor-minus-icon circle-icon">-</span>
                                            </div>
                                        </div>
                                        {# 拖动条 #}
                                        <div class="odor-bar">
                                            <div class="total-time">
                                                <span class="title">total time: </span>
                                                <div class="form-group">
                                                    {{ form_template.total_time }}
                                                    <span class="error-msg" style="color: red; position: absolute;"></span>
                                                </div>
                                            </div>
                                            <div id="timebar">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

{#                            <div class="row mx-1 my-4 mb-5">#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Role Num#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2" style="position: relative;">#}
{#                                        {{ form_template.role_num }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Time Window#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2">#}
{#                                        {{ form_template.time_window }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row mx-1 my-4 mb-5">#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Output Device#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2" style="position: relative;">#}
{#                                        {{ form_template.output_device }}#}
{#                                        <span class="error-msg mt-2 ms-1"#}
{#                                              style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Port#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2" style="position: relative;">#}
{#                                        {{ form_template.port }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row mx-1 my-4">#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        Duration#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2">#}
{#                                        {{ form_template.duration }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6">#}
{#                                    <h7 class="ms-1 fw-bold">#}
{#                                        PWM#}
{#                                    </h7>#}
{#                                    <div class="form-group mt-2">#}
{#                                        {{ form_template.pwm }}#}
{#                                        <span class="error-msg" style="color: red; position: absolute;"></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-success me-2">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="complete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #eceff1">
                <div class="modal-body mt-2"><h5>You have successfully uploaded the code!</h5></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var EDIT_ID;

        $(function () {
            bindBtnRoleEvent();
            bindBtnOdorEvent();
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnEditEvent();
        })

        function bindBtnRoleEvent() {
            $('#btnRole').click(function () {
                $.ajax({
                    url: '/admin/reality/role/',
                    type: 'post',
                    data: $("#formRole").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindBtnOdorEvent() {
            $('#btnOdor').click(function () {
                $.ajax({
                    url: '/admin/reality/odor/',
                    type: 'post',
                    data: $("#formOdor").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            {#alert("Successfully Confirmed!");#}
                            // 刷新页面
                            location.reload();
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                $(".error-msg").empty();
                // 将正在编辑的ID设置为空
                EDIT_ID = undefined;
                // 清空对话框中的数据
                $('#formAdd')[0].reset();
                // 设置对话框的标题
                $('#templateLabel').text('Create New Event Template')
                // 点击新建按钮，显示对话框
                $('#templateModal').modal('show');
            })
        }

        function bindBtnSaveEvent() {
            // 向后台发送请求
            $('#btnSave').click(function () {
                // 清楚错误信息
                $(".error-msg").empty();

                if (EDIT_ID) {
                    // 编辑
                    doEdit();
                } else {
                    // 添加
                    doAdd();
                }
            });
        }

        function doEdit() {
            // 向后台发送请求（添加Ajax请求）
            $.ajax({
                url: '/admin/reality/edit/' + '?tid=' + EDIT_ID,        //   -> /admin/reality/edit/?tid=12
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        alert("Successlly Edited!");
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');
                        // 刷新页面
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }


        function doAdd() {
            // 向后台发送请求（添加Ajax请求）
            $.ajax({
                url: '/admin/reality/add/',
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        {#alert("Successfully Created!");#}
                        // 清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();
                        // 关闭对话框
                        $("#templateModal").modal('hide');
                        // 刷新页面
                        location.reload();
                    } else {
                        // 把错误信息显示在对话框中
                        $.each(res.error, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }


        function bindBtnEditEvent() {
    $(".btn-edit").click(function () {
        // 清空对话框中的数据
        $('#formAdd')[0].reset();
        var tid = $(this).attr("tid");
        EDIT_ID = tid;

        // 发送Ajax请求，获取当前行的相关数据
        $.ajax({
            url: "/admin/reality/detail/",
            type: "get",
            data: {
                tid: tid
            },
            dataType: 'JSON',
            success: function (res) {
                if (res.status) {
                    // 将数据赋值到对话框中的标签中
                    $.each(res.data, function (name, value) {
                        $('#id_' + name).val(value);
                    })

                    // 设置对话框的标题
                    $('#templateLabel').text('Edit Event Template')

                    // 点击编辑，显示对话框
                    $('#templateModal').modal('show');
                } else {
                    alert(res.error);
                }
            }
        });
    });
}
    window.onload = () => {
        $('#btnAdd').click()
    }
    </script>
    <script type="text/javascript" src="{% static 'timebar/TimeBar.js' %}"></script>
{% endblock %}
